<a routerLink="/frequencias/cadastrar" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>
<h1>Lista de Frequência</h1>
<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col" width="50">Turma</th>
        <th scope="col">Disciplina</th>
        <th scope="col" width="120" >Professor</th>
        <th scope="col" >Horario</th>
        <th scope="col" width="120" >Aluno</th>
        <th scope="col" >Data</th>
        <th scope="col" >Status</th>
        <th scope="col" width="120" >Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let frequencia of frequencias">
        <th scope="row">{{frequencia.turma.codigo}}</th>
        <td>{{frequencia.disciplina.nome}}</td>
        <td>{{frequencia.professor.nome}}</td>
        <td>{{frequencia.horario.nome}}</td>
        <td>{{frequencia.aluno.nome}}</td>
        <td>{{frequencia.data}}</td>
        <td>{{frequencia.status}}</td>
      <th>
        <button class="btn btn-danger btn-sm" (click)="excluir(frequencia)">
          <i class="fa fa-trash"></i>
        </button>
      </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>